*{margin:0;padding:0;outline:none;border:none;}
div{
    display:block;
}
/*workspace*/
	#windowBody{
		position:relative;
	}
	#workspace{
		display:table;
		width:100%;
		height:100%;
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		padding:30px 0 0;
		background:white;
		-webkit-transition:-webkit-transform ease-out .17s
	}
	#wsLAux.hidden,#wsRAux.hidden{
		width:0;
		min-width:0;
	}
	#wsBAux.hidden{
		height:0;
	}
	#wsLAux{
		display:table-cell;
		height:100%;
		min-width:50px;
		background:#ccc;
	}
	#wsRAux{
		display:table-cell;
		height:100%;
		min-width:280px;
		background:#ccc;
	}
	#wsBAux{
		position:absolute;
		left:0;
		bottom:0;
		height:20px;
		width:100%;
		background:rgba(30,140,200,.5);
	}
	.hidden ~ #workspace,.hidden ~ #wboverlay{
		padding:10px 0 0 !important;
	}
	#wsTabs{
		display: -webkit-box;
		width: 100%;
		background: #EEE;
		height: 20px;
		padding: 0 4px;
		box-sizing: border-box;
		border-top: 1px solid #D4D4D4;
		border-bottom: 1px solid #CDCDCD;
		/background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222), color-stop(100%, #333));
	}
	#wsTabs.hidden{
		display:none;
	}
	.tab{
		width: 100px;
		margin: 0 4px;
		font-size: 12px;
		background: #CDCDCD;
		padding: 0 8px;
		color: #EEE;
		line-height: 15px;
		border-top: 1px solid #D9D9D9;
		font-family: helvetica;
		position: relative;
		top: -1px;
		height: 18px;
		border-bottom: 1px solid #BBB;
	}
	#wsTabs.side{
	
	}
	/*workspace viewport*/
		#wsViewport{
			position:absolute;
			left:0;
			top:20px;
			bottom:25px;
			right:0;
		}
		#wsTabs.hidden + #wsViewport{
			top:0;
		}
		/*SVG*/
			.viewport.svg{
				height:100%;
				width:100%;
				box-sizing:border-box;
				/background:#999;
				outline:dashed green 1px;
			}
		/*End SVG*/
	/*End workspace viewport*/
	#wsContainer{
		display:table-cell;
		position:relative;
	}
	/*EnvNode*/
		.envNode{
			background:rgba(0,0,0,0.2);
		}
		/*plaintext*/
			.envNode.plaintext>line{
				
			}
			.envNode.plaintext{
				counter-reset: ln;
			}
			.plaintext .ln{
				font-family:helvetica;
				/font-weight:bold;
				display:block;
				font-size:11px;
				width:40px;
				height:100%;
				margin-left:6px;
				color:blue;
				float:left;
			}
			.plaintext .ln:before{
				counter-increment: ln;
				content: counter(ln);
			}
.hcb{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	}
	/*Global Menubar*/
		#dtmenubar{
			/box-shadow:0px 0 2px #555;
			height:30px;
			z-index:2;
			position:relative;
			padding-right:15px;
			/background:#333;
			/color:#ccc;
			color:black;
			/font-weight:bold;
			font-family:helvetica;
			font-size:14px;
			-webkit-transform:translateZ(0);
			-webkit-transition:-webkit-transform .08s linear;
			-webkit-user-select:none;
			-moz-transform:translateZ(0);
			-moz-transition:-webkit-transform .08s linear;
			-moz-user-select:none;
		}
		#dtmenubar.off{
			-webkit-transform:translateY(-30px);
			-moz-transform:translateY(-30px);
		}
		#dtmenubar.hidden{
			-webkit-transform:translateY(-20px);
			-moz-transform:translateY(-20px);
			background:#888;
		}
		.menugroup{
			display:table;
		}
		.menugroupE{
			width: 90px;
			padding: 0 0 0 10px;
			background: #1F88E1;
			/margin-right: 8px;
			cursor: pointer;
			font-weight: bold;
			color: #333;
		}
		.menugroupE>.menuitem{
			padding:6px 16px;
			float:right;
		}
		.menugroupE>.menuitem:hover{
			box-shadow:0 0 16px 4px #3192e4 inset;
		}
		.menugroupE>.icon{
			float: left;
			display: block;
			height: 18px;
			width: 20px;
			margin: 4px 0;
			border-right: 1px dashed #333;
			padding-right: 9px;
		}
		.hidden>.menugroup{
			display:none;
		}
		.menuitem{
			padding:6px 16px;
			height:16px;
			cursor:pointer;
			position:relative;
			display:table-cell;
		}
		.menuitem.active{
			color:#494949;
			box-shadow:0 0 16px 6px #e9e9e9 inset !important;
			background:#eee;
		}
		.menuitem:hover{
			box-shadow:0 0 16px 4px #e9e9e9 inset;
		}
		#dtmenubar>.left{
			float:left;
		}
		#dtmenubar>.left{
			float:left;
		}
		#dtmenubar>.right{
			float:right;
			-webkit-box-direction:reverse;
			-moz-box-direction:reverse;
		}
		/*Item Popouts*/
			#aMenuCont{
				display:-webkit-box;
				-webkit-box-orient:horizontal;
				-webkit-box-pack:start;
				-webkit-box-align:start;
				display:-moz-box;
				-moz-box-orient:horizontal;
				-moz-box-pack:start;
				-moz-box-align:start;
				height:100%;
				width:100%;
				color:#ccc;
				/font-weight:bold;
				font-family:helvetica;
				font-size:14px;
				-webkit-user-select:none;
				-moz-user-select:none;
			}
			#aMenuCont .group{
				display:-webkit-box;
				-webkit-box-orient:vertical;
				-moz-box-orient:vertical;
				height:100%;
			}
			#aMenuCont .buffer{
				background:white;
				display:block;
				border:solid #dedede;
				border-width:2px 1px 1px 0;
				/white-space: nowrap;
				color:#222;
				font-size:14px;
				padding:4px 0 6px;
				//box-shadow:2px 2px 4px #eaeaea;
				cursor:default;
				box-sizing:border-box;
				max-width:auto;
			}
			.group:nth-child(2) .buffer{
				border-width:0 1px 1px !important;
			}
			#aMenuCont .offsetTop{
				-webkit-box-flex:1;
				-moz-box-flex:1;
			}
			#aMenuCont .item{
				display:block;
				margin:0 1px;
				padding:3px 20px;
				cursor:pointer;
			}
			#aMenuCont .liGroup{
				margin-bottom:4px;
			}
			#aMenuCont .expands{
				padding:3px 7px 3px 20px;
				cursor:default;
			}
			#aMenuCont .splitter{
				margin:3px 0;
				height:1px;
				background:#dedede;
			}
			#aMenuCont .item.active{
				box-shadow:0 0 16px 14px #28b inset;
				color:#eee;
			}
			#aMenuCont .item:hover{
				background:#333;
				box-shadow:0 0 16px 4px #464646 inset !important;
				color:#fff;
			}
			#aMenuCont .expands:hover .color1{
				fill:#eee !important;
			}
			#aMenuCont .ctx{
				display: inline;
				margin: 0 0 0 20px;
				height: 14px;
				width: 14px;
				float: right;
			}
		/*End Item Popouts*/	
	/*End Global Menubar*/
/*End Window Top*/
#wboverlay{
	z-index:3;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-size:400px;
	margin:30px 0 0;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	-webkit-user-select:none;
	-moz-user-select:none;
	/background: -webkit-radial-gradient(circle,rgba(0, 0, 0, .1),rgba(0, 0, 0, .12));
}
#wboverlay.menuLeft{
	margin:0 0 0 100px;
}
/*loginobal login applet*/
	.loginogin.header{
		margin:0 auto;
	}
	#tIDElogin{
		height:300px;
		width:400px;
		background:white;
		box-sizing:border-box;
		box-shadow:-1px 1px 5px #ccc;
		font-family:helvetica;
		position:relative;
		padding:30px 20px 0;
		overflow:hidden;
	}
	/*loginogins LIST*/
		.loginlist{
			height:30px;
			border-top:1px solid #eee;
		}
		.loginlist>.item{
			height:31px;
			width:40px;
			box-sizing: border-box;
			padding: 5px;
			-webkit-transition: box-shadow .1s linear;
			-moz-transition: box-shadow .1s linear;
		}
		.loginlist>.item.active{
			box-shadow:0 -1px 6px #CCC inset !important;
		}
		.loginlist>.item:hover{
			box-shadow:0 -1px 6px #ddd inset;
		}
		.loginlist path{
			fill:#888;
		}
		.loginlist .color1{
			fill:#888;
		}
		.loginlist .color2{
			fill:#797979;
		}
		.loginlist .color3{
			fill:#7d7d7d;
		}
		.loginlist .color4{
			fill:#757575;
		}
		.loginlist .color5{
			fill:#777;
		}
	/*End loginogins LIST*/
	/*loginogins Container*/
		#logincontainer{
			height:239px;
			overflow:hidden;
			position:relative;
		}
		#logincontainer .active{
			display:block;
		}
		.loginpage{
			position:absolute;
			height:100%;
			width:100%;
			overflow:hidden;
			display:none;
		}
		.loginpage>.header{
			margin-bottom:15px;
			-webkit-box-pack:start;
			-webkit-box-align:center;
			-moz-box-pack:start;
			-moz-box-align:center;
			padding-left:15px;
			font-size:30px;
			color:#333;
		}
		.loginpage>.header svg{
			width:50px;
			height:50px;
		}
		.loginpage>.input{
			margin:0px 20px;
			background:white;
			border:1px solid #999;
			border-radius:2px;
		}
		.loginpage .input>input{
			margin:6px 10px;
			box-sizing:border-box;
		}
		/*loginogins pages*/
			/*local*/
			.loginpage.local>span{
				padding-left:20px;
				font-size:10px;
				color:#333;
			}
			.loginpage.local>.usern{
				height:40px;
				position:relative;
				font-size:24px;
			}
			#loginlocalinput>input{
				margin-top:9px;
				font-size:18px;
			}
			#loginlocalinput>.button{
				position:absolute;
				height:24px;
				width:24px;
				right:8px;
				top:8px;
			}
			.loginpage.local>.button{
				height:40px;
				width:100px;
				border-radius:3px;
				border:1px solid #ccc;
				background:-webkit-gradient(linear, left top, left bottom, from(rgb(0,120,224)),to(rgb(0,110,210)));
				margin:20px 30px 0 0;
				float:right;
				box-sizing:border-box;
				font-size:14px;
				padding:10px;
				text-align:center;
				cursor:pointer;
				user-select:none;
				color:white;
			}
			.loginpage.local>.options{
				float:left;
				margin:20px 0 0 25px;
				height:20px;
				/width:80px;
				font-size:13px;
			}
			/*gdrive*/
			/*github*/
			/*fog*/
		/*End loginogins pages*/
	/*End loginogins Container*/
/*End loginobal login applet*/
#windowFoot{
	position:static;
	height:0px;
	/*outline:1px dotted black;*/
    bottom:0;
}
#aside{
	position:fixed;
	left:100%;
}
#temparea{
	margin:40px auto 0;
	width:800px;
	padding:5px;
	background:rgba(0,0,0,0.06)
}
#temparea>textarea{
	min-width:100%;
	max-width:100%;
	box-sizing:border-box;
	padding:4px;
	height:300px;
	background:rgba(0,0,0,0.04);
	font-size:14px;
	/font-weight:bold;
	font-family:calibri;
}
#tabNode{
	background: white;
	font-family: calibri;
	min-height: 100%;
	margin: 0 auto;
	width: 800px;
	border-radius: 1px;
	border-image: initial;
	box-shadow: -2px -2px 6px #eee;
	border-bottom:1px solid #Eaeaea;
}
/*THA FILE NODE!  :D*/
.nodetxt{
}
.node_file>.nodeHead{
	padding-bottom:3px;
	padding-left:7px;
	border-bottom:1px solid #Eaeaea;
}
.node_file>.nodeHead>.name{
    font-weight:bold;
	font-size:13px;
	color:#66c;
}
.node_file>.nodeFoot{
}
/*Stuff!*/
.head{
	height:16px;
	font-size:13px;
	font-family:sans-serif;
	margin:2px 10px;
	cursor:text;
}
.nodeBody{
	padding-left:16px;
}
.nodeHead{
	/* font:13px monospace; */
}
.antiCollapse{
	-webkit-user-select:none;
	color:white;
}
#bgGrad {
	display:none;
	position:fixed;
	top:0;
	width:100%;
	bottom:0;
	z-index:-1;
	background: -moz-radial-gradient(top left , ellipse cover, rgba(0,0,0,0) 125, rgba(0,0,0,0.1) 900px); /* FF3.6+ */
	background:-webkit-gradient(radial, 60% -425, 0, center center, 1400, from(rgba(0,0,0,.06)), to(rgba(0,0,0,0.07)));
	background-position: center center;
	
} 
