body{
	margin:0;
	background:#333;
	background-image:url("tide/r/background.png")
}
/#charmContLeft{-webkit-transform:translateZ(0);} 
#gCont{
	/width:768px;
	width:100%;
	position:relative;
	height:1365px;
	margin:0 auto;
	background:white;
	overflow:hidden;
	/background-image:url('http://www.uvmapper.com/help/checker.gif');
}
/#bgGrad{
	position:fixed;
	height:1024px;
	width:768px;
	top:0;
	left:0;
	z-index:-1;
	background:green;
	//background: -moz-radial-gradient(top left, ellipse cover, rgba(0,0,0,0) 125, rgba(0,0,0,0.4) 900px); /* FF3.6+ */
	/*background:-webkit-gradient(radial, 20% -100, 125, center center, 900, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.3)));*/
}
#appCont{
	height:1365px;
	//-webkit-box-orient: horizontal;
	//display:-webkit-box;
	width:768px;
	margin:0 auto;
	//background:-webkit-linear-gradient(left, rgba(0,0,0,0), black);
	position:relative;
	/overflow:hidden;
}
#appCont>div{
	height:100%;
}
#vpCont{
	height:100%;
	margin:0 auto;
}
.vp{
	max-width:700px;
	border:1px dotted green;
	margin:0 auto;
	height:100%;
}
.vp>div{
	margin:7px;
	box-sizing:border-box;
}
/*THA SIDE MENU!*/
.menuItem{
	color:#888;
	border:solid 1px #222;
	margin:5pxpx 0;
	/text-align:center;
	font-size:18px;
	font-family:Helvetica-Light;
	/font-weight:bold;
	padding-left:15px;
	border-top:solid 1px #343434;
	border-bottom:solid 2px #181818;
	position:relative;
}
#mPopoutLeft{
	background:#222;
	left:0;
	-webkit-transition: -webkit-transform .25s;
	top:0;
	height:1365px;
	position:fixed;
	/background:rgba(50,50,50,.6);
	/background-image:url('http://osxdaily.com/wp-content/uploads/2011/10/NSTexturedFullScreenBackgroundColor.png');
	box-sizing:border-box;
	padding-top:5px;
}
.collapsed#mPopoutLeft{
	-webkit-transform:translateX(-180px);
}
.collapsed#charmContRight{
	-webkit-transform:translateX(120px);
}
/*THA FILE BROWSER SUPER HAPPY FUN TIME YA!*/
#fileBrowser{
	display:none;
	-webkit-transition: -webkit-transform .25s;
	-webkit-transform-origin:top left;
	width:876px;
	background:#efefef;
	text-align:center;
	font-family:helvetica;
	font-weight:bold;
	padding-top:10px;
	border-radius:2px;
	overflow-y:scroll;
	overflow-x:visible;
	box-shadow:1px 1px 7px #444;
	position:relative;
}
.fRow{
	position:relative;
}
.fRow:first-child{
	padding-bottom:20px;
}
.fRow:first-child>.fRowBorder{
	/box-shadow:none;
	color:#888;
}
.fRowBorder{
	position:absolute;
	width:100%;
	bottom:12px;
	height:94px;
	box-shadow:0 3px 3px #aaa;
}
.fRowScrollSpring{
	-webkit-overflow-scrolling: touch;
	overflow-x:scroll;
}
.fRowCont{
	-webkit-transform: translate3d(0,0,0);
	min-width:100%;
	box-sizing:border-box;
	display:table;
	border-spacing:20px 0px;
	padding:0;
	/height:100px;
	margin:0 auto;
}
.fRowItem{
	/background-color:blue;
	/outline:1px dotted #444;
	display:table-cell;
	overflow:hidden;
	min-width:123px;
	max-width:180px;
	background-image:url('tide/r/server.png');
	background-repeat:no-repeat;
	background-position:center 10px;
	color:#777;
	margin:0 10px 10px 10px;
	white-space:nowrap;
}
.fRowItem.unavail{
	opacity:.35
}
/*Popup menus!*/
.menupopup{
	position: absolute;
	left: 190px;
	top:-15px;
	background: #222;
	border-radius: 2px;
	padding:15px;
	z-index:5;
}
.menupopup>div{
	position:relative;
	z-index:6;
}
.menupopup svg{
	position:absolute;
}
.menupopup>svg{
	left: -53px;
	top: 11px;
	width:52px;
	height:66px;
}
.menupopup>div>svg{
	left:-48px;
	top:7px;
	width:34px;
	height:44px;
}
.menupopup ul{
	padding:0;
	margin:0;
	border: 1px solid #333;
}
.menupopup li{
	display: block;
	border-top: solid 1px #343434;
	border-bottom: solid 2px #181818;
	padding: 10px 20px;
}
/*ROTATIONAL DISCREPANCIES*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
	#mPopoutLeft{
		width:180px;
		box-shadow:-2px 0px 6px #000 inset;
	}
	.menuItem{
		padding-top:10px;
		padding-bottom:10px;
		font-size:32px;
	}
	#fileBrowser{
		-webkit-transform:translate(132px,-1372px);
		height:1350px;
	}
	.fRowItem{
		height:40px;
		background-size:64px;
		padding-top:80px;
		font-size:18px;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{
	#mPopoutLeft{
		width:90px;
	}
	.menuItem{
		width:72px;
		height:72px;
		font-size:11.25px;
	}
	#fileBrowser{
		-webkit-transform:translate(117px,-1338px);
		height:700px;
	}
	.fRowItem{
		height:27px;
		background-size:48px;
		padding-top:57px;
		font-size:13px;
	}
}









